##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#
 
# OS X only:
.DS_Store
*.swp
*.Trashes

# Windows:
Thumbs.db
 
# All platforms:
Library
Temp
Materials
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

# Custom:
BaseData.Data
BaseData.Data.meta